<main class="main">
  <mat-toolbar color="primary">

    <span>Number to Word Convertor</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <span class="spacer"></span>
  </mat-toolbar>

  <div>
    <mat-card>
      <mat-card-content>
        <form style="padding: 10px 0;" [formGroup]="frm" (ngSubmit)="convertToWord()">
          <div class="row">
            <mat-form-field class="col-sm-9 col-md-4">
              <mat-label>Your number</mat-label>
              <input matInput type="text" name="userInput" formControlName="userInput" required>

            </mat-form-field>

            <button type="submit" mat-raised-button color="primary" [disabled]="!frm.valid">
              Convert To Word
            </button>

          </div>
          <p>Value: {{ frm.controls.userInput.value }}</p>

        </form>
      </mat-card-content>
      <mat-card-title>
        {{(response$ | async)?.result}}
      </mat-card-title>
    </mat-card>

  </div>
</main>



<router-outlet />